.form-field
  = form_builder.label :account_holder
  = form_builder.text_field :account_holder

.form-field
  = form_builder.label :bank_name
  = form_builder.text_field :bank_name

.form-field
  = form_builder.label :ag
  = form_builder.text_field :ag

.form-field
  = form_builder.label :cc
  = form_builder.text_field :cc
  
.form-field
  = form_builder.label :cnpj
  = form_builder.text_field :cnpj
